body {
  background-color: black;
  z-index: 50;
}

.background {
    z-index: 100;
    display: flex;
    margin:auto;
    align-items: center;
    background-image: url("../images/coeur.png");
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 8px 8px 8px 8px black;
    color: gold;
    text-shadow: 1px 1px black;
    background-color: black;
    min-height: 100vh;
    max-width: 100%;
    
  }

.home {
  margin: 0 30vw 0 30vw;
  padding-top: 2vh;
  padding-bottom: 2vh;
}
.home h1 {
  margin-bottom: 6vh;
}
.home h2 {
  margin-bottom: 6vh;
}
.home span {
  text-decoration: line-through;
}
.home p {
  font-size: 1.4rem;
}
